.footer-div {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  gap: 8rem;
  padding: 3px 32px;
  background-color: #f0f0f0;
  color: #666;
  border-top: 2px solid rgba(0, 0, 0, 0.35);
}

@media (min-width: 800px) {
  .footer-div {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.name-div {
  font-size: 0.75rem;
  color: #333;
}

.name-h {
  font-weight: bold;
  font-size: 0.85rem;
}

.name-p:hover,
.language-icon-footer:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #4169e1;
  transform: translateY(-2px);
}

.name-p:active,
.language-icon-footer:active {
  transform: translateY(0);
}

.language-icon-footer {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  margin-right: 5px;
  margin-left: 3px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0.1px 20px;
  background-color: #f0f0f0;
  color: #666;
  border-top: 2px solid rgba(0, 0, 0, 0.35);
}

.trips-categor {
  display: flex;
  gap: 5px;
  margin: 5px;
  padding-left: 20px;
}

.trips-categor p {
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  margin: 2px;
  border: 2px solid var(--theme);
  border-radius: 2rem;
  box-shadow: 3px -2px 6px 0px rgba(0, 0, 0, 0.25) inset;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 0.9rem;
}

.trips-categor p:hover {
  background-color: var(--grey);
  transform: translateY(-2px);
  box-shadow: 5px 0px 8px 0px rgba(0, 0, 0, 0.35) inset;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
  cursor: pointer;
}
.trips-categor p:active {
  transform: translateY(2px);
}

.trips-div {
  text-align: left;
  padding-left: 35px;
}
